.ancs-container {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    width: 100%;
    border-bottom: 1px solid #aaa;

    .see-all-ancs {
        font-size: 1.5rem;
        color: $main-color;
        font-weight: 500;

        &:hover {
            opacity: 0.8;
        }
    }
}

@import "./AncsCarousel/index";
@import "./ViewAncs/index";
