.calculator-content {
    .goto-pick-calcs {
        display: flex;
        color: $main-color;
        position: relative;
        cursor: pointer;
        font-size: 1.8rem;

        i {
            justify-self: flex-start;
            transform: translateX(0px);
            font-size: 2.8rem;
        }
        
        &:hover > i {
            animation: tilt 2s infinite;
            animation-timing-function: ease-in-out;
        }

        @keyframes tilt {
            0% { transform: translateX(0); }
            12.5% { transform: translateX(3px); }
            25% { transform: translateX(0); }
            37.5% { transform: translateX(3px); }
            50% { transform: translateX(0); }
            100% { transform: translateX(0); }
        }
    }
}
