.no-calc {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    column-gap: 1rem;
    color: #999;

    &__text {
        font-weight: 500;
    }

    &__help {
        display: flex;
        align-items: center;
    }

    .MuiSvgIcon-root {
        font-size: 2rem;
        height: 100%;
    }
}

@import "./DisplayValidError/index";
