.register-page {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;

    .register-container {
        background-color: #fff;
        box-shadow: $default-shadow;
        border-radius: 1rem;
        padding: 2rem 3rem;

        .name-block {
            display: flex;

            column-gap: 1rem;
        }
    }
}
