.register-page {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;

    .register-container {
        background-color: #fff;
        box-shadow: $default-shadow;
        border-radius: 1rem;
        padding: 2rem 3rem;

        @media only screen and (max-width: 310px) {
            width: 100%;
        }

        .register-form {
            width: 100%;

            @media only screen and (max-width: 570px) {
                input {
                    width: 100%;
                }
            }
        }

        .register-block {
            display: flex;
            align-items: center;
            column-gap: 1rem;
        }
    }
}
