.subscribe__ancs-list {
    padding: 1rem;
    display: flex;
    column-gap: 5rem;
    row-gap: 2rem;
    flex-wrap: wrap;

    .path-groups {
        padding: 2rem;
        background-color: #eee;
        border-radius: 0.5rem;
        display: flex;
        flex-direction: column;
        row-gap: 1rem;
        width: 24rem;

        &__groups-subs {
            display: flex;
            flex-direction: column;
            row-gap: 1rem;
            border-right: 5px solid rgba($main-color, 0.3);
            padding-right: 0.5rem;
            margin-right: 2rem;
        }
    }
}
