.float-button-wrapper {
    position: fixed;
    bottom: 4rem;
    right: 4rem;
    box-shadow: none;

    &:hover > .tool-tip {
        transform: scale(1);
    }

    .tool-tip {
        $tool-tip-color: #303030d0;
        position: absolute;
        width: 8rem;
        height: 2.5rem;
        padding: 0.5rem;
        background-color: $tool-tip-color;
        color: #fff;
        font-size: 1.4rem;
        border-radius: 0.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        right: 25px;
        bottom: 75px;
        transition: transform 0.2s ease-in-out;
        transform: scale(0);
        transform-origin: bottom right;

        &::before {
            $size: 0.5rem;
            position: absolute;
            top: 25px;
            right: 5px;
            content: '';
            border-left: $size solid transparent;
            border-right: $size solid transparent;
            border-top: $size solid $tool-tip-color;
        }
    }

    .float-button {
        width: 7rem;
        height: 7rem;
        background-color: $main-color;
        box-shadow: $default-shadow;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        color: #fff;
        font-size: 3rem;
        transition: all 0.5s ease;
        
        cursor: pointer;
    
        &:hover {
            box-shadow: $default-shadow-hover;
        }
    }
}