.gen-modal { 
    display: block;
    position: fixed;
    overflow-y: hidden; 
    z-index: 100; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%;
    background-color: #0006;
    color: #000;
    transition: all 0.25s ease;
  }
  
  .modal-box {
    background-color: #fff;
    margin:0 auto;
    margin-top: 5%;
    padding: 1.5rem;
    border-radius: 0.5rem;
    max-width: 70rem;
    overflow-y: auto;
  }

  .modal-header {
    padding-right: 0.5rem;
    text-align: center;

    .modal-title {
      margin-top: 2rem;
      font-size: 2.5rem;
      color: $main-color;
    }

    .modal-subtitle {
      color: #777;
      font-size: 1.5rem;
      text-align: center;
    }
  }

  .modal-body {
    padding: 4rem;
    padding-top: 2rem;
    word-wrap: break-word;
  }
  
  .close-modal {
    color: #aaa;
    float: right;
    font-size: 2.8rem;
    font-weight: bold;
  }
  
  .close-modal:hover,
  .close-modal:focus {
    color: #da2a2a;
    text-decoration: none;
    cursor: pointer;
    float: right;
  }

  .modal-form {
    position: relative;
    left: 20%;
    right: 20%;
    width: 60%;
  }

