.navbar {
    background-color: $main-color;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    margin: 0;
    height: 50px;
    color: #fff;
    display: grid;
    grid-template-columns: 10% 60% 40%;
    z-index: 1;
    box-shadow: 
    0 4px 8px 0 rgba(0, 0, 0, 0.3), 
    0 6px 20px 0 rgba(0, 0, 0, 0.29);

    .logo {
        background-color: $main-color;
        height: 100px;
        width: 100px;
        border-radius: 50%;
        position: relative;
        float: right;
        box-shadow: 
        0 2px 6px 0 rgba(0, 0, 0, 0.2), 
        0 3px 10px 0 rgba(0, 0, 0, 0.19);

        transition: box-shadow 0.5s;

        &:hover {
            box-shadow: 
            0 6px 12px 0 rgba(0, 0, 0, 0.2), 
            0 9px 30px 0 rgba(0, 0, 0, 0.19);
        }
    }

    .links {
        list-style-type: none;
        display: inline-block;
        margin: 0;
        padding: 15px;
        overflow: hidden;

        li {
            margin: 8px;
            display: inline;
            padding: 7px;
            border-radius: 5px;
            cursor: pointer;

            .sub-menu {
                display: none;
            }

            &:hover {
                background-color: #ffffff32;
            }

            &:hover .sub-menu{
                display: block;
            }
        }
    }
    
    .left-section {
        float: left;
    }
}