.navbar {
    background-color: $main-color;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    margin: 0;
    height: 50px;
    color: #fff;
    display: grid;
    grid-template-columns: 10% 60% 40%;
    z-index: 1;

    .logo {
        background-color: $main-color;
        height: 100px;
        width: 100px;
        border-radius: 50%;
        position: relative;
        float: right;
    }

    .links {
        list-style-type: none;
        display: inline-block;
        margin: 0;
        padding: 15px;
        overflow: hidden;

        li {
            margin: 8px;
            display: inline;
            padding: 7px;
            border-radius: 5px;
            cursor: pointer;

            .sub-menu {
                display: none;
            }

            &:hover {
                background-color: #ffffff32;
            }

            &:hover .sub-menu{
                display: block;
            }
        }
    }
    
    .left-section {
        float: left;
    }
}