$input-width: 25rem;
$border-input-width: 12rem;
$error-color: #be1b1b;

.form-default {
    padding: 1rem;
    font-size: inherit;
    border-radius: 1rem;
    outline: none;
    border: 1.5px solid #ddd;
    transition: border-color 0.5s ease;

    &:focus {
        border-color: $main-color;
    }
}

.form-text-input {
    line-height: 1.5em;
    position: relative;
    margin: 2rem 0;

    .label {
        position: absolute;
        display: block;
        top: -2rem;
        right: 0;
        color: #999;
        font-size: 1.2rem;
        transition: all 0.2s linear;
    }

    .text-input {
        background-color: transparent;
        outline: 0;
        border:none;
        border-bottom: 2px solid #999;
        font-size: $text-size;
        width: $input-width;
        color: #555;
        transition: border-color 0.2s;

        &::placeholder {
            color: transparent;
        }

        &:placeholder-shown ~ .label {
            font-size: $text-size;
            cursor: text;
            top: 0;
        }
    }

    .text-input:focus {
        border-bottom-color: $main-color;

        ~ .label {
            position: absolute;
            top: -2rem;
            font-size: 1.2rem;
            color: $main-color;
        }
    }

    &.error {
        .text-input {
            border-color: $error-color !important;
        }

        .label {
            color: $error-color !important;
        }

        .error {
            font-size: 1.4rem;
            color: $error-color;
        }
    }

    @media only screen and(max-width: 768px) {
        .text-input {
            width: 100%;
        }
    }
}


input[type=search] {
    border-radius: 5px;
    border: 0;
    width: 200px;
    height: 30px;
    margin: 10px;
    outline: none;
    padding: 5px;
}

textarea {
    font-family: inherit;
    font-size: inherit;
    resize: none;
    border: none;
    border-radius: 1rem;
    outline: none;
    padding: 1rem;
    color: #aaa;
    transition: all 0.5s ease;
    box-shadow: $default-shadow;
    
    &:focus {
        color: #000;
        box-shadow: $default-shadow-hover;
    }
}

.form-input-border {
    display: inline-block;
    border: 1.5px solid #ccc;
    border-radius: 0.5rem;
    transition: border-color 0.5s ease;
    padding: 0;

    legend {
        color: #bbb;
        margin: 0 0.5rem;
        transition: color 0.5s ease;
        font-size: 1.2rem;
        margin: 0 0.5rem;
        vertical-align: text-top;
    }

    &:focus-within {
        border: 1.5px solid $main-color;

        legend {
            color: $main-color
        }
    }

    .text-input {
        background-color: transparent;
        outline: 0;
        border:none;
        font-size: $text-size;
        width: $border-input-width;
        color: #555;
        padding: 0 1rem 1rem 1rem;
    }

    &.error {
        border: 1.5px solid $error-color;

        legend {
            color: $error-color
        }
    }
}

.field-error {
    color: $error-color;
    font-size: 1.6rem;
}