.questions-list {
    padding-top: 2rem;
    padding-bottom: 5rem;
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    width: 100%;
}

.question-item {
    width: 100%;
    background-color: #fff;
    box-shadow: $default-shadow;
    border-radius: 0.5rem;

    &:hover {
        .question-title::after {
            transform: scaleX(1);
            transform-origin: 100% 50%;
        }
    }

    .question-title {
        color: $main-color;
        font-size: 2.2rem;
        padding: 0.5rem;

        &::after {
            display: block;
            content: "";
            border-bottom: solid 3px $main-color;
            transform: scaleX(0);
            transition: transform 0.3s ease-in-out;
        }
    }

    .section-content {
        overflow: hidden;

        &.open {
            max-height: 20rem;
        }
    }

    .question-content {
        display: flex;
        flex-direction: column;
        row-gap: 2rem;

        .question-answer {
            font-size: 1.7rem;
            color: #3b3b3b;
        }

        .question-source {
            font-weight: 500;
            font-size: 1.5rem;
            color: $main-color;
            padding-right: 1rem;
            border-right: 3px solid $main-color;
            transition: color 0.3s ease;

            &:hover {
                opacity: 0.8;
            }
        }
    }
}

.group-item-options {
    display: flex;
    column-gap: 2rem;
    flex-direction: row;
}
