.side-menu {
    $menu-width: 30rem;
    cursor: default;
    overflow-y: scroll;
    height: 100vh;
    width: 100vw;

    .scroll-view {
        overflow-y: auto;
    }

    &__mask {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 3;
        width: 100%;
        height: 100%;
        opacity: 0;
        visibility: hidden;
        background-color: rgba(#000, 0.6);
        transition: all 0.2s ease-in-out;
    }

    &__container {
        box-shadow: $default-shadow;
        position: fixed;
        overflow-x: hidden;
        overflow-y: auto;
        top: 0;
        left: 0;
        z-index: 4;
        height: 100%;
        max-width: 0;
        background-color: #fff;
        padding: 0;
        transition: all 0.2s ease-out;

        &__content {
            width: $menu-width;
            height: 100%;
        }
    }

    &.display {
        .side-menu__mask {
            opacity: 1;
            visibility: visible;
        }

        .side-menu__container {
            max-width: $menu-width;
        }
    }
}

@keyframes fadeIn {
}
