.thresholds__uni {
    &__name {
        font-size: 2.4rem;
        font-weight: 500;
    }

    @media only screen and(max-width: 630px) {
        width: 100%;
    }
    @import "../CalcThresholds/index";
}
