.ancs-carousel__item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    word-wrap: break-word;
    height: 100%;
    cursor: pointer;
    transition: all 0.2s ease-in-out;

    &:hover {
        & > .anc-date {
            border-color: $main-color;
        }

        & > .anc-title {
            opacity: 1;
        }
    }

    .anc-date {
        display: inline-block;
        font-size: 2.3rem;
        color: $main-color;
        padding: 1rem;
        border-bottom: solid 3px #ccc;
    }

    .anc-title {
        height: 100%;
        font-size: 1.6rem;
        padding: 1rem 0;
        border-right: 2px;
        opacity: 0.8;
        color: #555;
        font-weight: 500;
    }
}
