.comment-item {
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
    width: 100%;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid #aaa;

    .MuiSvgIcon-root {
        font-size: 20px;
        color: #777;
        cursor: pointer;
    }

    @media only screen and(min-width: 764px) {
        &:hover > .comment-main > .comment-options {
            opacity: 1;
            visibility: visible;
        }
    }

    .comment-author {
        font-size: 1.6rem;
        color: $main-color;
        font-weight: 500;
    }

    .comment-footer {
        display: flex;
        align-items: center;
        color: #777;
        font-size: 1.5rem;
        column-gap: 0.5rem;
    }

    &:hover > .comment-body > div > .options-anchor {
        opacity: 1;
        visibility: visible;
    }
}

@import "./CommentLikes/index";
@import "./CommentBody/index";
