.card {
    box-shadow: $default-shadow;
    color: $main-color;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    transition: box-shadow 0.2s ease-in-out;

    &:hover {
        box-shadow: $default-shadow-hover;
    }

    &.big {
        width: 22rem;
        height: 22rem;
        font-size: 2.2rem;
        border-radius: 0.5rem;
    }

    &.small {
        width: 14rem;
        height: 5rem;
        padding: 1rem;
        border-radius: 1rem;
    }
}
