.user-profile {
    margin: auto;
    width: 900px;

    @media only screen and(max-width: 900px) {
        width: 100%;
    }

    .profile-container {
        border-top: 3rem;

        @media only screen and(max-width: 600px) {
            input:focus ~ .calculator {
                display: none;
            }
        }
        

        & > div:not(.loadbar-soft):not(.calculator) {
            animation: opacity-load 0.5s ease;
            background-color: #fff;
            box-shadow: $default-shadow;
            border-radius: 0.5rem;
            margin-bottom: 3rem;

            &:not(.data-block) {
                padding: 2rem;
            }
        }
        
        @keyframes opacity-load {
            0% { opacity: 0; }
            100% { opacity: 1; }
        }
    }
}

