.user-basic-data {
    .user-date-created {
        padding: 1rem;
        color: #aaa;
        font-weight: 500;
    }

    .is-student-block {
        display: flex;
        column-gap: 2rem;

        .student-approval-pending {
            padding: 0.5rem 1rem;
            background-color: $pending-color;
            color: #fff;
            border-radius: 0.5rem;
        }
    }
}