.ancgroups {
    .path-list {
        list-style-type: none;
        border-radius: 5px;
        width: 150px;
        box-shadow: $default-shadow;
        padding: 15px;

        .path-name {
            color: $header-color;
            font-weight: 500;
        }


        .group-list {
            list-style-type: none;
            margin: 0;
            padding: 0;

            li {
                padding: 5px 15px 5px 0;
                border-radius: 5px;
                cursor: pointer;

                &:hover {
                    background-color: #c0c0c0;
                }
            }
        }
    } 
}