.paths-list {
    border-radius: 10px;
    box-shadow: $default-shadow;
    background-color: #fff;
    width: 200px;
    padding: 10px 0 0 0;
    list-style-type: none;

    li {
        padding: 10px;

        .material-icons {
            color: $key-color;

            &:hover {
                color: $key-color-hover;
            }
            
            &.more-list {
                float: left;
            }
        }

        .exit-edit {
            color: $key-color;
            float: left;
            font-size: 20px;
            cursor: pointer;

            &:hover {
                color: $key-color-hover;
            }
        }
    }

    .add-path {
        box-sizing: border-box;
        color: $key-color;
        text-align: center;
        font-size: 25px;
        cursor: pointer;

        &:hover {
            color: $key-color-hover;
            background-color: #dadada88;
        }
    }
}