.side-menu {
    list-style-type: none;
    border-radius: 15px;
    padding: 15px 0 15px 0;
    background-color: #fff;
    padding-right: 5px;
    box-shadow: 
    0 2px 6px 0 rgba(0, 0, 0, 0.2), 
    0 3px 10px 0 rgba(0, 0, 0, 0.19);

    li {
        color: #464646;
        padding: 5px;
        
        &:hover {
            background-color: #a0a0a0;
        }
    }
}