.side-menu {
    overflow: hidden;
    display: block;
    width: 20rem;
    background-color: #eee;
    font-size: 2rem;

    li {
        color:  $main-color;
        padding: 1rem;
        
        &:hover {
            background-color: #ddd;
        }
    }
}

@media only screen and (max-width: 1000px) {
    .side-menu {
        display: none;
    }
}