.steps-admin {
    display: flex;
    flex-direction: column;
    justify-content: center;

    .path-select {
        display: inline-block;
        margin: auto;
    }

    .select-parent-prev {
        display: flex;

        & > div {
            margin-left: 2rem;
            margin-top: 1rem;
        }
    }

    .steps-block {
        position: relative;
        display: block;
        background-color: #eee;
        width: 100%;
        margin: 5rem 0;
        max-height: 60rem;
        
        .add-step {
            display: block;
            width: 100%;
            padding: 3rem 5rem 0 5rem;
        }

        .tree-container {
            position: relative;
            display: flex;
            justify-content: center;
            overflow-y: auto;
            padding: 0 5rem;
            height: 50rem;
        }

        .steps-tree {
            display: block;
            color: $main-color;
            text-align: center;
            z-index: 1;
            margin: auto;

            .tree-node {
                margin: 1rem;

                .family-container {
                    border: 2px solid $main-color;
                    border-radius: 1.5rem;
                    padding: 1.5rem;
                    min-width: 20rem;
                    z-index: 0;
                }
    
                .node {
                    display: block;
                    min-height: 1.5rem;
                    min-width: 1.5rem;
                    max-width: 1.5rem;
                    max-height: 1.5rem;
                    background-color: $main-color;
                    margin: 0.3rem auto;
                    border-radius: 50%;
                    transition: all 0.1s ease-in-out;
                    cursor: pointer;

                    &:hover {
                        min-height: 1.8rem;
                        min-width: 1.8rem;
                        max-width: 1.8rem;
                        max-height: 1.8rem;
                    }
                }
            }
        }
    }


    .edit-step {
        margin-top: 10rem;
        .text-editor {
            width: 100%;
            overflow: hidden;
        }
    }
}
