.topics-list {
    width: 100%;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ddd;

    .topic-item {
        background-color: #f9f9f9;
        border-radius: 0.5rem;
        padding: 1rem;
        cursor: pointer;
        box-shadow: $default-shadow;
        transition: box-shadow 0.5s ease;

        &:hover {
            box-shadow: $default-shadow-hover;
        }
    }
}

.topic-content {
    .topic-headers {
        display: flex;
        align-items: center;

        & > * {
            margin-left: 1rem;
        }
    }
    .form-edit-topic {
        border-bottom: 1px solid #ddd;
    }
}

.topic-items-list {
    padding: 2rem;
    margin: auto;
    width: 66rem;
    display: grid;
    grid-template-columns: repeat(2, 30rem);
    column-gap: 3rem;
    row-gap: 3rem;
    overflow-y: auto;

    .material-item {
        padding: 1rem;
        background-color: #fff;
        box-shadow: $default-shadow;
        border-radius: 1rem;
        height: 25rem;
        transition: box-shadow 0.5s ease;
        display: flex;
        align-items: center;
        cursor: pointer;

        &:hover {
            box-shadow: $default-shadow-hover;
        }

        .item-title {
            text-align: center;
            color: #616161;
            font-size: 2rem;
            border-bottom: 1rem;
        }

        .item-title-only {
            color: #616161;
            font-size: 2.5rem;
            text-align: center;
            margin: auto;
        }
    }

    .drive-link {   
        display: flex;
        align-items: center;

        a {
            color: #1439b4;
            margin-right: 1rem;
            transition: opacity 0.5s ease;

            &:hover {
                opacity: 0.6;
            }
        }
    }

}