.admin-topics-list {
    width: 100%;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ddd;

    .topic-item {
        background-color: #f9f9f9;
        border-radius: 0.5rem;
        padding: 1rem;
        cursor: pointer;
        box-shadow: $default-shadow;
        transition: box-shadow 0.5s ease;

        &:hover {
            box-shadow: $default-shadow-hover;
        }
    }
}

.topic-content {
    .topic-headers {
        display: flex;
        align-items: center;

        & > * {
            margin-left: 1rem;
        }
    }
    .form-edit-topic {
        border-bottom: 1px solid #ddd;
    }
}

.topic-items-list {
    padding: 2rem;
    margin: auto;
    width: 69rem;
    display: grid;
    grid-template-columns: repeat(3, 20rem);
    column-gap: 3rem;
    row-gap: 3rem;
    overflow-y: auto;
    text-align: center;
}

.material-item {
    padding: 1rem;
    background-color: #fff;
    box-shadow: $default-shadow;
    border-radius: 1rem;
    height: 20rem;
    transition: box-shadow 0.5s ease;
    align-items: center;
    cursor: pointer;

    &:hover {
        box-shadow: $default-shadow-hover;
    }

    .item-title {
        text-align: center;
        color: #616161;
        border-bottom: 1rem;
    }

    .item-icon {
        position: relative;
        display: flex;
        justify-content: center;
        bottom: 0;
        height: 100%;

        > img {
            position: absolute;
            height: 50%;
            width: 50%;
            bottom: 30%;   
        }
    }
}

.drive-link {   
    display: flex;
    align-items: center;

    a {
        color: #1439b4;
        margin-right: 1rem;
        transition: opacity 0.5s ease;

        &:hover {
            opacity: 0.6;
        }
    }
}

.icons-select {
    width: 33rem;
    padding: 1.5rem;
    display: flex;
    justify-content: space-between;

    .icon-item {
        box-shadow: $default-shadow;
        background-color: #fff;
        border-radius: 1rem;
        transition: all 0.25s ease;
        width: 10rem;
        height: 10rem;
        margin-left: 1.5rem;

        > img {
            height: 100%;
            width: 100%;
        }

        &:hover {
            box-shadow: $default-shadow-hover;
        }

        &.selected {
            border: 2px solid $main-color
        }
    }
}