.side-bar__links__item {
    padding: 0.5rem;
    border-bottom: 1px solid #ccc;

    &:hover {
        .side-bar__links__item__content {
            &:not(.upcoming) {
                background-color: rgba($main-color, 0.2);
            }
        }
    }

    &__content {
        padding: 1.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 1rem;
        font-size: 1.8rem;
        border-radius: 0.5rem;
        transition: background-color 0.2s ease-in-out;
        font-weight: 500;

        &__upcoming-label {
            background-color: $main-color;
            color: #fff;
            position: absolute;
            padding: 0.5rem;
            font-size: 1.4rem;
            top: 2px;
            left: 2px;
            border-radius: 1rem;
        }

        &.upcoming {
            color: #aaa;
            position: relative;
        }
    }
}
