.admin-options {
    display: flex;
    column-gap: 1rem;
}

.libs-list-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 2rem;
}

.libs-list-has-items {
    align-items: center;
    width: 100%;
    padding: 1rem;
    column-gap: 1rem;
    overflow-x: auto;
    display: flex;
    column-gap: 1rem;
    background-color: #ddd;
    border-radius: 0.5rem;
}
