.libs-list-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 2rem;
}

.libs-list {
    display: grid;
    align-items: center;
    width: 100%;
    padding: 1rem;
    justify-content: center;
    grid-template-columns: repeat(auto-fill, 20rem);

    &.has-items {
        column-gap: 1rem;
        overflow-x: auto;
    }

    &.no-items {
        row-gap: 3rem;
        column-gap: 4rem;
        flex-wrap: wrap;
    }
}

@import "LibCardItem/index";
