.lib-card-item {
    width: 20rem;
    height: 20rem;
    box-shadow: $default-shadow;
    border-radius: 0.5rem;
    color: #555;
    display: flex;
    font-size: 2.2rem;
    align-items: center;
    justify-content: center;
}
