.anc-admin {
    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;

        & > .material-icons {
            font-size: 3rem;
        }
    }
}

.paths-groups-list {
    margin: 1.5rem 0.5rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1rem;
    row-gap: 4rem;
    
    .path-name {
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: #fff;
        background-color: $main-color;
        padding: 0.7rem;
        border-radius: 0.5rem;
        font-size: 2rem;
        margin-bottom: 1rem;

        &:hover > .material-icons {
            display: block;
        }

        .material-icons {
            color: inherit;
            display: none;

            &:hover {
                opacity: 0.6;
            }
        }
    }

    .group-list {
        margin-right: 1rem;
        border-right: 0.2rem solid $main-color;

        .group-item {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 1rem;

            .inline-menu {
                display: none;
            }

            &:hover > .inline-menu {
                display: block;
            }
        }
    }

    .add-group-input {
        border: none;
    }
}


.anclist-admin {
    margin-top: 2rem;

    .anc-item {
        border: 0.2rem solid $main-color;
        margin-bottom: 3rem;
        border-radius: 0.5rem;
        padding: 1rem;
        transition: box-shadow 0.3s ease;
    
        .anc-title {
            display: flex;
            justify-content: space-between;
            align-items: center;



            .material-icons {
                display: none;
                color: #727272;
                transition: color 0.3s ease;

                &:hover {
                    color: $error-color;
                }
            }

            &:hover > .material-icons {
                display: block;
            }
        }
    
        .anc-date {
            color: #727272;
            font-size: 1.5rem;
        }

        .anc-content {
            background-color: #ddd;
            border-radius: 1rem;
            padding: 1.5rem;
            margin: 2rem 0.5rem 0.5rem;
            font-size: 1.7rem;
            word-wrap: break-word;
        }
    
        &:hover {
            box-shadow: $default-shadow;
        }
    }
}

.group-ancs-list {
    max-width: 70rem;

    .group-name {
        display: flex;
        justify-content: space-between;
    }
}