.other-calcs {
    &__link {
        cursor: pointer;
        font-size: 1.4rem;

        &:hover {
            text-decoration: underline;
        }
    }

    &__content:first-child {
        margin-bottom: 4rem;
    }

    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@import "./OtherCalcsContent/index";
@import "./ReverseCalcsThreholdsSelector/index";
