$main-color: #486974;
$error-color: #be1b1b;
$okay-color: #1b922f;
$default-shadow:
0 2px 6px 0 rgba(0, 0, 0, 0.2), 
0 3px 10px 0 rgba(0, 0, 0, 0.19);
$default-shadow-hover:
0 4px 8px 0 rgba(0, 0, 0, 0.2), 
0 6px 20px 0 rgba(0, 0, 0, 0.19);

$key-color: #4e4e4e;
$key-color-hover: #838383;
$header-color: #727272;
$header-height: 5rem;
$cover-height: 20rem;
$text-size: 1.8rem;
$line-height: 1.5em;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    direction: rtl;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 10px;
    scroll-behavior: smooth;
    -webkit-tap-highlight-color: transparent;
}

body {
    background-color: #fff;
    font-size: $text-size;
    line-height: $line-height;
    outline: none;
    overflow-x: hidden;
}

.App {
    height: 100%;
}

a {
    text-decoration: none;
    color: inherit;
}

h1 {
    color: $main-color;
    font-weight: 450;
}

.wrapper {
    position:sticky;
}

h2 {
    display: block;
    color: $main-color;
    font-size: 2.5rem;
    margin-bottom: 2rem; 
    text-decoration: none;
    font-weight: normal;
    width: 100%;
    border-bottom: 0.1rem solid $main-color;  
}

h4 {
    display: inline;
    text-decoration: none;
    font-weight: normal;
    color: #494949;
    font-size: 2rem;
}

ul {
    list-style-type: none;
}

.cover-photo {
    position: absolute;
    top: $header-height;
    z-index: 0;
    width: 100%;
    height: $cover-height;
    background-image: url('../../assets/giorgio-trovato-v_bri4iVuiM-unsplash.jpg');
    background-size: cover;
    background-position-y: 55%;

    .cover-top-layer {
        width: 100%;
        height: 100%;
        background-image: linear-gradient(-45deg, rgba(34, 34, 34, 0.76) 0%, transparent 100%);
        z-index: 1;
    }
} 

.content {
    max-width: 900px;
    margin: ($header-height + $cover-height + 10rem) auto;
    z-index: 0;

    .default-page {
        position: absolute;
        top: ($header-height + $cover-height + 2rem);
        max-width: 900px;
        margin: auto;
        margin-bottom: 5rem;
    }
}

.router {
    animation-name: opacity-load;
    animation-duration: 1s;
}

@keyframes opacity-load {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.footer {
    position: absolute;
    bottom: 0;
    padding: 1rem;
    width: 100%;
    height: 5rem;
    border-top: 0.1rem solid #aaa;
    color: #777;

    a {
        color: inherit;

        &:hover {
            text-decoration: underline;
        }
    }
}

.material-icons {
    cursor: pointer;
}

.content-wrapper {
    margin-top: 5rem;
    width: 100%;
    box-shadow: $default-shadow;
    border-radius: 1rem;
    padding: 3rem;
}

th {
    font-weight: 400;
}



@media only screen and (max-width: 1000px) {
    .content {
        margin: ($header-height + $cover-height + 10rem) 0.5rem;
    }
}

.no-resource-error {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5rem auto;
    height: 100%;
    font-size: 2.5rem;
    color: #555;
}

.top-content-nav {
    display: flex;
    justify-content: center;
    position: absolute;
    top: $header-height + $cover-height;
    right: 0;
    box-shadow: 0 3px 6px #00000030;
    width: 100%;
    margin-bottom: 3rem;

    .top-links-profile-nav {
        width: 90rem;
    }
}

@import 'layout/navbar';
@import 'layout/modal';
@import 'layout/container';
@import 'layout/loadbar';
@import 'layout/toplinks';

@import 'common/dropdown';
@import 'common/dropdownmenu';
@import 'common/inlineselect';
@import 'common/switch';
@import 'common/selectBox';
@import 'common/section';
@import 'common/multiselect';
@import 'common/carousel';
@import 'common/inlinemultiselect';

@import 'forms/main';
@import 'forms/input';
@import 'forms/buttons';
@import 'forms/checkbox';

@import 'pages/anouncements';
@import 'pages/dashboard';
@import 'pages/steps';
@import 'pages/drive';
@import 'pages/profile';
@import 'pages/userdata';
@import 'pages/stats';
@import 'pages/questions';

@import 'admin/admin';
@import 'admin/default';
@import 'admin/sidemenu';
@import 'admin/paths';
@import 'admin/anouncements';
@import 'admin/steps';
@import 'admin/pages';
@import 'admin/topics';
@import 'admin/stats';
@import 'admin/calcs';
@import 'admin/tables';
@import 'admin/questions';


