$main-color: #486974;

* {
    direction: rtl;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a {
    text-decoration: none;
}

h1 {
    color: $main-color;
    font-weight: 450;
}

.content {
    margin-top: 150px;
}

@import 'forms/main';
@import 'forms/input';
@import 'forms/buttons';
@import 'layout/navbar';
@import 'layout/modal';
@import 'models/anouncements';