$main-color: #486974;

* {
    direction: rtl;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.content {
    margin-top: 150px;
}

@import 'forms/input';
@import 'forms/buttons';
@import 'layout/navbar';