.summary-groups-list {
    display: flex;
    column-gap: 3rem;
    row-gap: 3rem;
    justify-content: center;
    padding: 1rem;
    flex-wrap: wrap;

    &.display {
        &.client {
            visibility: visible;
            opacity: 1;
        }
    }

    &.client {
        opacity: 0;
        visibility: hidden;
        position: absolute;
        background-color: transparent;
        bottom: 0;
        left: 100px;
        width: 20rem;
        flex-wrap: nowrap;
    }
}

.summary-group-item {
    display: flex;
    border-radius: 0.5rem;
    background-color: #fff;
    box-shadow: $default-shadow;
    padding: 1.5rem;
    width: 18rem;
    transition: opacity 0.2s ease-in-out;

    &.admin {
        flex-direction: column;
    }

    &.client {
        visibility: hidden;
        opacity: 0;
        position: absolute;
        bottom: 0;

        &.single {
            bottom: -20px;
            right: 200px;
        }
    }

    .material-icons {
        color: $main-color;
        justify-self: flex-start;
    }

    &.display {
        visibility: visible;
        opacity: 1;
        transition: opacity 0.2s ease-in-out;
    }
}

.return-choose {
    padding-left: 1rem;
    &:hover {
        animation: tilt 2s infinite;
        animation-timing-function: ease-in-out;
    }
}
