.details-container {
    display: flex;
    column-gap: 8rem;
    flex-wrap: wrap;
    row-gap: 3rem;

    .edit-user-details {
        background-color: #eee;
        border-radius: 0.5rem;
        padding: 2rem;

        &__title {
            padding: 1rem;
            font-size: 2.5rem;
            color: $main-color;
        }
    }
}

@import "./ChangePassword/index";
