.anc-item {
    display: flex;
    align-items: center;
    background-color: rgba($main-color, 0.1);
    border-radius: 0.5rem;
    padding: 1rem;
    flex-wrap: wrap;

    &__title {
        width: 25rem;
        &__text {
            font-size: 2rem;
            color: $main-color;
            overflow: hidden;
            text-overflow: ellipsis;
            cursor: pointer;
            white-space: nowrap;

            &:hover {
                text-decoration: underline;
            }
        }

        &__date {
            color: #777;
            font-weight: 500;
            font-size: 1.4rem;
        }
    }

    &__group {
        background-color: $main-color;
        border-radius: 1rem;
        padding: 1rem;
        color: #fff;
    }
}
