.stats {
    margin-top: 15rem;
    & > * {
        animation: opacity-load 1s;
    }
}

.external-link-container {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 5rem 1rem;

    .external-table-link {
        display: flex;
        text-align: center;
        justify-content: center;
        border-radius: 0.5rem;
        border: 1px solid $main-color;
        background-color: $main-color;
        height: 5rem;
        padding: 1rem;
        transition: all 0.3s ease;
        color: #fff;

        &:hover {
            background-color: #fff;
            color: $main-color;
            border-color: $main-color;
        }
    }
}

.userdata-table-no-results {
    padding: 10rem;
    width: 100%;
    background-color: rgba($error-color, 0.2);
    display: flex;

    span {
        position: sticky;
        right: 0;
        width: 100vw;
        font-size: 3rem;
        font-weight: 500;
        color: #555;
    }
}

.table-container {
    position: absolute;
    right: 0;
    overflow-y: hidden;
    overflow-x: auto;
    width: 100%;
    height: 100vh;

    &::-webkit-scrollbar {
        width: 0.3rem;
        opacity: 0;
    }

    &::-webkit-scrollbar-track {
        width: 0.3rem;
        background-color: transparent;
    }

    &::-webkit-scrollbar-thumb {
        background-color: #ccc;
        border-radius: 1rem;
    }

    &::-webkit-scrollbar-thumb:hover {
        background-color: #aaa;
    }
}

.table-data-load-more {
    width: 100%;
    font-size: 1.8rem;

    & > div {
        position: sticky;
        right: 0;
        width: 100vw;
        margin: 0;
        padding: 1.5rem;
        font-weight: 500;
    }

    &__button {
        color: $main-color;
        cursor: pointer;
        transition: background-color 0.2s ease-in-out;

        &:hover {
            background-color: #eee;
        }
    }

    &__loading {
        display: flex;
        align-items: center;
        justify-content: center;
        color: rgba($main-color, 0.8);
        width: 100%;
    }
}

.data-table {
    display: inline-grid;
    grid-template-areas:
        "head-fixed"
        "body-scrollable";

    text-align: center;
    color: #464646;

    &__body-load-wrapper {
        width: 100%;

        & > div {
            position: sticky;
            right: 0;
            width: 100vw;
        }
    }

    th {
        font-weight: 500;
        font-size: 1.4rem;

        @media only screen and (max-width: 750px) {
            font-size: 1.3rem;
            min-width: 10rem;
        }
    }

    td {
        font-size: 1.5rem;

        @media only screen and (max-width: 450px) {
            font-size: 1.3rem;
            min-width: 10rem;
        }
    }

    th,
    td {
        padding: 1rem;
        min-width: 12rem;

        position: relative;
        cursor: pointer;

        @media only screen and (max-width: 750px) {
            min-width: 10rem;
        }

        @media only screen and (max-width: 450px) {
            min-width: 9rem;
        }

        .cover {
            position: absolute;
            top: 0;
            right: 0;
            z-index: 1;
            width: 100%;
            height: 100%;
            background-color: #5757573b;
        }
    }

    .sorted {
        border-left-color: $main-color;
        border-right-color: $main-color;
    }

    th {
        color: #fff !important;
    }

    tr:not(.table-data-load-more) {
        &.highlight {
            & > td {
                border-top-color: $main-color;
                border-bottom-color: $main-color;
            }
        }

        td {
            border: 2px solid transparent;
            transition: border-color 0.2s ease;
        }

        &:hover {
            td {
                border-top-color: $main-color;
                border-bottom-color: $main-color;
            }
        }
    }

    thead {
        grid-area: head-fixed;
    }

    .uni-header {
        padding: 0;
        padding-top: 1rem;
        transition: padding 0.2s ease-in;

        span {
            display: block;
            margin: 0;
            padding: 1.5rem 1.5rem 0.5rem 1rem;
            border-top-left-radius: 1.5rem;
            border-top-right-radius: 1.5rem;
            transition: padding 0.2s ease-in;
            font-weight: 500;
            font-size: 1.7rem;
        }

        &:hover {
            padding-top: 0;

            span {
                padding-top: 2.5rem;
                transition: padding 0.2s ease-in;
            }
        }
    }

    .field-header {
        padding: 1rem 0.5rem;
        position: relative;

        .material-icons {
            color: #fff;
            visibility: hidden;
            font-size: 1.4rem;
            display: flex;
            align-items: center;
            position: absolute;

            &.shown {
                visibility: visible;
            }
        }

        .field-name {
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            max-width: 12rem;

            @media only screen and (max-width: 750px) {
                font-size: 1.4rem;
            }
        }
    }

    tbody {
        overflow-x: hidden;
        overflow-y: auto;
        grid-area: body-scrollable;
        // height: calc(100vh - 108px);
    }
}

.field-options {
    display: flex;
    flex-direction: column;
    row-gap: 3rem;
    color: #464646;

    .filters {
        background-color: #ededed;
        border-radius: 0.5rem;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        row-gap: 2rem;
    }

    .filters-title {
        border-bottom: 1px solid #ccc;
    }

    .filters-list {
        display: flex;
        flex-wrap: wrap;
        column-gap: 0.5rem;
        row-gap: 0.5rem;

        .no-filters {
            width: 100%;
            color: #464646;
            font-size: 1.5rem;
            display: block;
            text-align: center;
        }

        .filter-item {
            display: flex;
            align-items: center;
            justify-content: space-between;
            background-color: #ddd;
            padding: 0.5rem;
            border-radius: 1rem;
            font-size: 1.5rem;
        }
    }

    .clear-all {
        border: 1.5px solid #ccc;
        color: #888;
        border-radius: 0.5rem;
        transition: all 0.3s ease;
        font-size: 1.5rem;
        cursor: pointer;
        width: 10rem;
        padding: 0.5rem;
        text-align: center;
        background-color: #fff;

        &:hover {
            border-color: #0438a8;
            color: #0438a8;
        }
    }

    .filter-fields {
        display: flex;
        align-items: center;
        flex-wrap: wrap;

        & > div:not(:last-child) {
            margin-left: 0.5rem;
        }

        input {
            width: 12rem;
            margin-bottom: 0.5rem;
        }

        .general-error {
            color: $error-color;
            font-size: 1.5rem;
        }
    }

    .sort {
        display: flex;
        background-color: #ededed;
        border-radius: 0.5rem;
        padding: 1rem;
        align-items: center;
        column-gap: 0.5rem;
    }

    .sort-fields {
        display: flex;
        column-gap: 1rem;

        .sort-item {
            $selected-color: $main-color;
            border: 1.5px solid #ccc;
            color: #888;
            border-radius: 0.5rem;
            transition: all 0.3s ease;
            cursor: pointer;
            font-size: 1.6rem;
            padding: 0.5rem;
            background-color: #fff;

            &:hover {
                border-color: $selected-color;
                color: $selected-color;
            }

            &.selected {
                border-color: $selected-color;
                color: $selected-color;
            }
        }
    }
}
