.link-label {
    position: absolute;
    top: 75px;
    min-width: 150px;

    .add-link-label {
        position: absolute;
        width: 10rem;
        text-align: center;
        right: 25px;
    }

    .link-label-name {
        position: absolute;
        right: 85px;
        font-size: 1.8rem;
        color: purple;
        font-weight: 500;
    }
}
