.toggle-switch {
    color: $main-color;
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
    font-size: 1.6rem;

    .toggle-button {
        position: relative;
        width: 4.5rem;
        height: 2rem;
        margin: 0 0.5rem;
        background-color: rgba($main-color, 0.2);
        border-radius: 20px;
        cursor: pointer;

        &.disabled {
            cursor: default;
        }

        .switch {
            position: absolute;
            left: 0;
            bottom: -2.5px;
            border-radius: 50%;
            width: 2.5rem;
            height: 2.5rem;
            background-color: $main-color;
            transition: background-color 0.3s ease;
            transition: transform 0.3s ease;

            &.no-value {
                transform: translateX(10px);
                background-color: $main-color-light;
            }

            &.on {
                transform: translateX(19px);
            }
        }
    }
}
