.login-page {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;

    .login-container {
        background-color: #fff;
        padding: 2rem 4rem;
        border-radius: 1rem;
        box-shadow: $default-shadow;

        .no-user-register-link {
            color: $main-color;
            font-weight: 500;

            &:hover {
                opacity: 0.8;
            }
        }
    }
}
