$size: 2rem;
$not-selected-backcolor: #ddd;
$hover-background: #ccc;

.bread-crumbs {
    display: flex;
    align-items: center;

    &__item {
        height: 4rem;
        display: flex;
        transition: background-color 0.3s ease-in-out !important;

        &:hover:not(.highlight) {
            & > div {
                background-color: $hover-background;
            }

            &::after {
                border-right-color: $hover-background;
            }
        }

        &.highlight {
            & > div {
                color: #fff;
                background-color: $main-color;
            }

            &::after {
                border-right: $size solid $main-color;
            }
        }

        &:first-child > div {
            border-top-right-radius: 0.5rem;
            border-bottom-right-radius: 0.5rem;
        }

        &:last-child > div {
            border-top-left-radius: 0.5rem;
            border-bottom-left-radius: 0.5rem;
        }

        &:not(:last-child) {
            margin-left: -30px;
        }

        div {
            border: none;
            width: 14rem;
            background-color: $not-selected-backcolor;
            color: #777;
            font-weight: 500;

            & > * {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                height: 100%;
                transform: translateX(-5px);
                font-size: 1.5rem;
            }
        }

        &:not(:first-child)::before {
            content: "";
            border-top: $size solid transparent;
            border-bottom: $size solid transparent;
            border-right: $size solid #fff;
            transform: translateX(-$size);
        }

        &:not(:last-child)::after {
            content: "";
            border-top: $size solid transparent;
            border-bottom: $size solid transparent;
            border-right: $size solid $not-selected-backcolor;
            z-index: 1;
        }
    }
}
