.carousel {
    overflow: hidden;
    display: grid;
    grid-template-columns: 4rem minmax(0, 1fr) 4rem;
    max-width: 100%;
    height: 15rem;

    .nav-arrow {
        display: flex;
        align-items: center;
        z-index: 1;
        background-color: #fff;
        visibility: hidden;
        
        &.display {
            visibility: visible;
        }

        .material-icons {
            width: 100%;
            display: inline-block;

            font-size: 5rem;
            color: #aaa;
            transition: color 0.3s ease;
    
            &:hover {
                color: $main-color;
            }
        }
    }

    .carousel-content {
        display: flex;

        .car-item {
            padding: 2rem;
            flex-shrink: 0;
            transition: transform 0.5s ease-in-out;
            width: (100%/2);
        }

        @media only screen and (max-width: 768px) {
            .car-item {   
                display: flex;
                width: 100%;
                height: 100%;
            }
        }
    }
}