.dropdown-menu {
    position: absolute;
    padding: 0;
    z-index: 10;
    box-shadow: $default-shadow;
    color: $main-color;
    background-color: #fff;
    font-size: 1.8rem;
    overflow: hidden;
    min-width: 0;
    max-height: 0;
    max-width: 0;
    transition: all 0.2s ease-out;
    font-size: 1.6rem;

    &.open {
        max-height: 15rem;
        min-width: 12rem;
        max-width: auto;
        transition: all 0.2s ease-in;
    }

    li {
        cursor: pointer;
        padding: 5px;

        &:hover {
            background-color: #ececec;
        }
    }
}