.dropdown-menu {
    padding: 0;
    z-index: 3;
    box-shadow: $default-shadow;
    width: 12rem;
    color: $main-color;
    background-color: #fff;
    font-size: 1.8rem;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.25s ease-in;

    &.open {
        max-height: 15rem;
        transition: max-height 0.25s ease-out;
    }

    li {
        cursor: pointer;
        padding: 5px;

        &:hover {
            background-color: #ececec;
        }
    }
}