$dropdown_width: 18rem;
$dropdown_height: 4rem;
$unfocus_color: #888;

.dropdown {
    line-height: 1.5em;
    box-sizing: border-box;
    position: relative;
    background-color: inherit;
    height: $dropdown_height;
    width: $dropdown_width;
    -webkit-user-select: none;  
    -moz-user-select: none;    
    -ms-user-select: none;      
    user-select: none;
    font-size: 1.6rem;
    margin: 3rem 0;
    transition: color 0.25s ease;
    
    &-main {
        display: relative;
        cursor: pointer;
        height: 100%;
        display: flex;
        color: $unfocus_color;
        border: 2px solid $unfocus_color;
        border-radius: 1rem;

        & > span:not(.dropdown-top) {
            position: relative;
            height: 100%;
        }
    }

    &-top {
        position: absolute;
        top: -30%;
        right: 7%;
        padding: 0 0.2rem;
        font-size: 1.1rem;
        color: $unfocus_color;
        background-color: #fff;
        z-index: 1;
        height: 2rem;
    }

    &-toggler {
        padding: 0.6rem;
        
        .arrow {
            display: inline-block;
            position: relative;
            height: 0.8rem;
            width: 0.8rem;
            transform: rotate(90deg);
            top: 55%;
            right: 90%;
            transition: all 0.25s ease;

            &::before {
                $size: 0.8rem;
                content: "";
                width: 0;
                height: 0;
                border-left: $size solid transparent;
                border-right: $size solid transparent;
                border-top: $size solid $unfocus_color;
            }

            &.arrow-down {
                transform: rotate(0deg);
                top: 63%;
                right: -25%;
            }
        }
    }

    &-selected {
        padding: 0.5rem 0.3rem;
    }

    &-select {
        box-sizing: border-box;
        margin: 0;
        list-style: none;
        width: inherit;
        position: absolute;
        left: 0;
        top: $dropdown_height;
        overflow-x: hidden;
        overflow-y: auto;
        transition: all 0.2s ease-out;
        background-color: #fff;
        border-radius: 0.5rem;
        z-index: 9;
        box-shadow: 0 0.3rem 0.6rem #aaa;
        max-height: 0;
        transition: all 0.3s ease-out;

        li {
            display: flex;
            justify-content: space-between;
            padding: 0.5rem;
            cursor: pointer;
            
            &:hover {
                background-color: #ddd;
            }
        }

        .forbidden-option {
            background-color: #eee;
            cursor: not-allowed;
        }

        &::-webkit-scrollbar {
            width: 0.5rem;
            opacity: 0;
        }
        
        &::-webkit-scrollbar-track {
            width: 0.4rem;
            background-color: transparent
        }
        
        &::-webkit-scrollbar-thumb {
            background-color: #aaa;
            border-radius: 1rem;
        }

        
        &::-webkit-scrollbar-thumb:hover {
            background-color: #888
        }

        i {
            display: none;
            color: #000;
            
            &:hover {
                color: inherit;
            }
        }

        #selected > i {
            display: block;
        }
    }

    #open {
        max-height: 20rem;
        transition: max-height 0.3s ease-in;
    }
}