.section-header {
    display: flex;
    align-items: center;
    padding: 1rem;
    font-size: 2rem;
    color: #646464;
    border-bottom: 0.5px solid #aaa;
    
    .section-title {
        cursor: pointer;
    }
}

.section-content {
    max-height: 0;
    transition: all 0.3s ease;
    overflow: hidden;
    position: relative;

    &.open {
        max-height: 200rem;
        transition: all 0.3s ease;
    }

    &-holder {
        padding: 2rem;
        overflow-y: auto;
    }
}