.section-header {
    display: flex;
    align-items: center;
    padding: 1rem;
    font-size: 2rem;
    color: #646464;
    cursor: pointer;
}

.section-content {
    max-height: 0;
    transition: all 0.3s ease-in-out;
    overflow: hidden;

    &.open {
        transition: all 0.3s ease-in-out;
        max-height: 10rem;
    }

    &__holder {
        padding: 2rem;
        padding-top: 0;
    }
}
