.degree-toggle {
    position: absolute;
    top: 1rem;
    right: 1rem;
    color: $main-color;
    z-index: 1;
}

.toggle {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 24px;
    margin: 0 5px 0 5px;

    input {
        opacity: 0;
        width: 0;
        height: 0;
    }
}

.toggle-button {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #555;
    -webkit-transition: .3s;
    transition: .3s;
    border-radius: 20px;

    &:before {
        position: absolute;
        content: "";
        height: 20px;
        width: 20px;
        left: 2px;
        bottom: 2px;
        border-radius: 50%;
        background-color: #ccc;
        -webkit-transition: .3s;
        transition: .3s;
    }
}

input:checked + .toggle-button:before {
    -webkit-transform: translateX(16px);
    -ms-transform: translateX(16px);
    transform: translateX(16px);
}