.data-paths {
    color: $main-color;

    &__info {
        &__title {
            font-weight: 500;
        }

        &__edit {
            font-size: 1.5rem;
            cursor: pointer;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    &__paths-list {
        display: flex;
        column-gap: 0.5rem;

        &__item {
            background-color: $main-color;
            border-radius: 1rem;
            padding: 0.5rem;
            color: #fff;
            font-size: 1.5rem;
        }
    }
}
