.gen-modal {
    position: fixed;
    overflow-y: auto;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #0006;
    color: #000;
    transition: all 0.25s ease;
}

.modal-box {
    background-color: #fff;
    margin: 3rem auto;
    border-radius: 0.5rem;
    max-width: 70rem;
}

.modal-header {
    width: 100%;
    text-align: center;
    box-shadow: 0 3px 6px #00000019;

    .modal-titles {
        padding: 2rem;
        padding-top: 0;

        .modal-title {
            font-size: 2.5rem;
            color: $main-color;
            padding: 0.5rem;
            display: block;
        }

        .modal-subtitle {
            color: #777;
            font-size: 1.5rem;
            text-align: center;
        }
    }
}

.modal-body {
    padding: 4rem;
    padding-top: 2rem;
    word-wrap: break-word;
}

.close-modal {
    color: #aaa;
    display: flex;
    font-weight: bold;
    padding-top: 1rem;
    padding-right: 1rem;

    .MuiSvgIcon-root {
        font-size: 30px;
    }
}

.close-modal:hover,
.close-modal:focus {
    color: #da2a2a;
    text-decoration: none;
    cursor: pointer;
}

.modal-form {
    position: relative;
    left: 20%;
    right: 20%;
    width: 60%;
}
