.anc-list {
    .anc-item {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        word-wrap: break-word;
        height: 100%;
        cursor: pointer;

        &:hover {
            & > .anc-date {
                border-color: $main-color;
            }
            
            & > .anc-title{
                opacity: 1;
            }
        }

        .anc-date {
            display: inline-block;
            font-size: 3rem;
            color: $main-color;
            padding: 0 1rem 2rem 1rem;
            border-bottom: solid 3px #ccc;
            transition: border-color 0.3s ease;
        }

        .anc-title {
            height: 100%;
            font-size: 2rem;
            padding: 2rem 0;
            border-right: 2px;
            opacity: 0.6;
        }
    }
}