.anc-list {
    border-radius: 1.5rem;
    border: 0.3rem #ccc solid;
    height: 13rem;
    padding-right: 2rem;
    box-sizing: border-box;
    background-color: #fff;

    .anc-item {
        display: inline-block;
        word-wrap: break-word;
        width: 25rem;
        margin-left: 40px;
        
        .anc-date {
            text-align: center;
            margin-left: 0.5rem;
            font-size: 2rem;
            width: 5rem;
            font-weight: 3rem;
            color: $main-color;
        }

        .anc-title {
            cursor: pointer;

            &:hover {
                opacity: 0.7;
            }
        }
    }
}