.drive-items-grid {
    display: grid;
    width: 90rem;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 5rem;
    row-gap: 5rem;

    .drive-grid-item {
        justify-self: center;
        align-self: center;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 25rem;
        height: 25rem;
        border-radius: 0.5rem;
        box-shadow: 
        2px 4px 6px 0 rgba(0, 0, 0, 0.3), 
        2px 6px 15px 0 rgba(0, 0, 0, 0.4);
        transition: box-shadow 0.3s ease;
        font-size: 2.5rem;

        &:hover {
            box-shadow: 
            2px 7px 15px 0 rgba(0, 0, 0, 0.3), 
            2px 10px 30px 0 rgba(0, 0, 0, 0.4);
        }
    }
}

@media only screen and (max-width: 900px) {
    .drive-items-grid {
        display: grid;
        max-width: 55rem;
        grid-template-columns: repeat(2, 1fr);
        margin: 0 auto;
    }
}

@media only screen and (max-width: 600px) {
    .drive-items-grid {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        row-gap: 2rem;
        align-items: center;
        justify-content: center;
        width: auto;
    }
}


.pages-menu {
    .page-menu-item {
        transition: box-shadow 0.3s ease;
        background-image: url(https://images.unsplash.com/photo-1596063789158-6173a72a46a6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80);
        background-size: cover;
        z-index: 0;

        .page-name {
            z-index: 2;
            font-size: 2.5rem;
            color: #fff;
        }

        .background-filter-cover {
            z-index: 1;
            background-image: linear-gradient(-45deg, rgba(34, 34, 34, 0.76) 0%, transparent 100%);
        }
    }
}

.page {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    max-width: 88rem;
    margin: 0 1rem;
}

.pages-nav-inline {
    display: flex;
    column-gap: 1.5rem;
    overflow-x: auto;
    padding-bottom: 2rem;
    border-bottom: 1px solid #aaa;

    .page-inline-list-item {
        border: 1px solid #ccc;
        color: #aaa;
        border-radius: 0.5rem;
        transition: all 0.3s ease;
        padding: 1rem;

        &.current {
            background-color: $main-color;
            color: #fff;
        }

        &:hover:not(.current) {
            color: $main-color;
            border-color: $main-color;
        }
    }
}

.topic-description {
    border: 1px solid $main-color;
    border-radius: 1rem;
    padding: 1.5rem;
}


.page-links-list {
    position: absolute;
    width: 20rem;
    visibility: hidden;
    background-color: #fff;
    box-shadow: $default-shadow;
    position: fixed;
    bottom: 12rem;
    right: 3rem;
    height: auto;
    border-radius: 0.5rem;
    opacity: 0;
    transition: opacity 0.3s ease;

    &.open {
        visibility: visible;
        opacity: 1;
    }

    & > li {
        padding: 1.5rem;

        & > a {
            border-bottom: 1px solid transparent;
            transition: border 0.25s ease-in-out;
            color: #505050;
    
            &:hover {
                border-color: inherit;
            }
        }
    }
    
    .list-header {
        text-align: center;
        font-size: 2rem;
        color: $main-color;
    }
}

.links-list-mobile {
    position: fixed;
    width: 7rem;
    height: 7rem;
    bottom: 3rem;
    right: 3rem;
    background-color: #fff;
    box-shadow: $default-shadow;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: 
    box-shadow 0.5s ease;
    
    cursor: pointer;

    &:hover {
        box-shadow: $default-shadow-hover;

        & > i {
            color: $main-color;
        }
    }
    
    & > i {
        color: #aaa;
        font-size: 3rem;
        transition: color 0.5s ease;
    }
}   


.subtopic-list {
    display: flex; 
    width: 100%;
    row-gap: 5rem;
    padding: 2rem 0;
    
    .subtopic-item {
        padding: 1.5rem;
        border-radius: 1rem;
        box-shadow: $default-shadow;
        transition: all 0.3s ease;
        color: #777;

        &:hover {
            color:  $main-color;
            box-shadow: $default-shadow-hover;
        }
    }
}

.drive-topic-items-list {
    padding: 2rem 0;

    .drive-topic-item {
        box-shadow: $default-shadow;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 1.5rem 0;

        .drive-item-title {
            font-size: 2rem;
        }

        img {
            width: 90px;
            height: 90px;
        }

        &:hover {
            box-shadow: $default-shadow-hover;
        }
    }
}


.item-footer {
    display: flex;
    justify-content: space-between;
    font-size: 2rem;
    align-items: center;
    width: 100%;
    padding: 0 1.5rem;
    position: relative;
    color: #777;
    transition: color 0.2s ease;

    .comments-icon {
        position: absolute;
        bottom: 2px;
        font-size: 2.8rem;

        &:hover {
            color: $main-color;
        }
    }

    .item-votes {
        display: flex;
        align-items: center;
        z-index: 1;

        & > span {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .thumb-icon {
            display: flex;
            align-items: center;
            font-size: 2.5rem;

            &:hover {
                opacity: 0.8;
            }
        }

        .item-upvotes .voted {
            color: $okay-color; 
        }

        .item-downvotes .voted {
            color: $error-color; 
        }

        & > * {
            margin-left: 0.5rem;
        }
    }
}

.item-comments {
    cursor: default;

    .add-comment {
        width: 100%;
        padding: 1rem;
        border: 1.5px solid #aaa;
        border-radius: 0.5rem;
        font-size: 1.8rem;
        transition: border-color 0.3s ease;
        outline: none;

        &:focus {
            border-color: $main-color;
        }
    }

    .comments-list {
        display: flex;
        flex-direction: column;
        row-gap: 1rem;
        padding-bottom: 3rem;
        width: 100%;
    
        .comment-item {
            display: flex;
            align-items: center;
            row-gap: 0.5rem;
            width: 100%;
            padding-bottom: 0.5rem;
            border-bottom: 1px solid #aaa;

            .comment-details {
                display: flex;
                flex-direction: column;
                row-gap: 0.5rem;
                max-width: 100%;

                .comment-author {
                    font-size: 1.6rem;
                    color: $main-color;
                    font-weight: 500;
                }

                .comment-text {
                    font-size: 1.6rem;
                    word-wrap: break-word;
                    background-color: #ececec;
                    padding: 1rem;
                    border-radius: 0.5rem;
                    
                    .cancel-edit {
                        font-size: 1.4rem;
                        color: $main-color;
                        cursor: pointer;
                        padding: 0 0.5rem;
                        font-weight: 500;

                        &:hover {
                            opacity: 0.8;
                        }
                    }
                }

                .comment-footer {
                    display: flex;
                    align-items: center;
                    color: #777;
                    font-size: 1.5rem;
                    
                    .comment-likes {
                        display: flex;
                        text-align: center;

                        & > * {
                            display: flex;
                            align-items: center;
                        }

                        &.liked {
                            color: $main-color;
                        }
                    }

                    .material-icons {
                        font-size: 2rem;

                        &:hover {
                            color: $main-color;
                        }
                    }
                }
            }

            &:hover > .comment-options {
                display: block;
            }

            .comment-options {
                display: none;

                .material-icons {
                    color: #777;

                    &:hover {
                        opacity: 0.8;
                    }
                }
            }
        }
    }
}
