.user-profile {
    margin: auto;
    width: 900px;


    .top-links {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        background-color: #fff;
        box-shadow: $default-shadow;
        border-radius: 1rem 1rem 0 0;
        margin-bottom: 3rem;

        a {
            width: 100%;
        }

        .link-item {
            text-align: center;
            color: #474747;
            border-bottom: 3px solid transparent;
            transition: border 0.5s ease;
            padding: 0;

            &.current {
                color: $main-color;
                border-bottom: 3px solid $main-color;

                span > .span-hover:hover {
                    background-color: inherit;
                }
            }

            span {
                position: relative;
                padding: 0.5rem;
                width: 100%;
                height: 100%; 
                display: block;

                &:hover > .span-hover {
                    background-color: #f3f3f3;
                }

                .span-hover {
                    border-radius: 1rem;
                    transition: background-color 0.5s ease;
                    padding: 0.5rem 2rem;
                }
            }
        }
    }

    .profile-container {

        & > div {
            animation: opacity-load 0.5s ease;
            background-color: #fff;
            box-shadow: $default-shadow;
            border-radius: 1rem;
            margin-bottom: 1rem;
            padding: 2rem;
        }
        
        @keyframes opacity-load {
            0% { opacity: 0; }
            100% { opacity: 1; }
        }
    }
}

.choose-path {
    background-color: #fff;
    box-shadow: $default-shadow;
    height: 45rem;
    padding: 5rem;
    border-radius: 1rem;

    .title {
        color: $main-color;
        font-size: 2.2rem;
        margin-bottom: 3rem;
    }

    .options-container {
        display: flex;
        justify-content: center;
        column-gap: 3rem;
        width: 100%;

        .path-option {
            position: relative;
            padding: 1rem;
            width: 20rem;
            height: 20rem;
            border: 2.5px solid #ccc;
            border-radius: 1rem;
            transition: border-color 0.5s ease; 
            cursor: pointer;

            &.checked {
                border: 2.5px solid $main-color;

                & > .path-name {
                    color: $main-color;
                }
            }

            &:hover {
                border: 2.5px solid $main-color;

                & > .path-name {
                    color: $main-color;
                }
            }

            .path-name {
                position: absolute;
                bottom: 15px;
                height: 15rem;
                width: 100%;
                right: 0;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 2rem;
                color: #999;
                transition: color 0.5s ease;
            }
        }  
    }
    
    .button-block {
        margin-top: 5rem;
        width: 100%;

        button {
            margin: auto;
        }
    }
}