.steps-tree {
    display: flex;
    flex-direction: column;
    row-gap: 3rem;
    color: $main-color;
    text-align: center;
    z-index: 1;
    margin: auto;
    font-size: 1.6rem;

    .tree-node {
        display: flex;
        justify-content: center;
        margin: 0.5rem;
        

        .steps-family {
            width: 100%;
            padding: 1rem; 
            border-radius: 0.5rem;
            border: 2px solid #aaa;
            transition: border-color 0.2s ease-in;
            cursor: pointer;

            &:hover {
                border-color: $main-color;
            }

            legend {
                margin: 0 1rem;
                font-size: 1.7rem;
            }

            .steps-level {
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }

        .node-container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 10rem;
            word-wrap: break-word;

            .node {
                display: block;
                width: 1.2rem;
                height: 1.2rem;
                background-color: #aaa;
                margin: 0.3rem auto;
                border-radius: 50%;
                cursor: pointer;
                transition: background-color 0.2s ease-in;

                &:hover {
                    background-color: $main-color;
                }
            }
        }
    }
}

.tree-container {
    display: flex;
    justify-content: center;
}

.step-content {
    margin-top: 1.5rem;
    width: 100%;

    &:hover { 
        .step-title::after {
            transform: scaleX(1);
            transform-origin:100% 50%;
        }
    }   

    .step-title {
        display: inline-block;
        font-size: 3rem;
        color: $main-color;
        padding: 1.5rem 0;

        &::after {
            display:block;
            content: '';
            border-bottom: solid 3px $main-color;  
            transform: scaleX(0);  
            transition: transform 0.3s ease-in-out;
        }
    }

    .content-container {
        padding-right: 1.5rem;
    }
}