.steps-tree {
    display: block;
    color: $main-color;
    text-align: center;
    z-index: 1;
    margin: auto;

    .tree-node {
        margin: 1rem;

        .family-container {
            border: 2px solid $main-color;
            border-radius: 1.5rem;
            padding: 1.5rem;
            min-width: 20rem;
            z-index: 0;
        }

        .node {
            display: block;
            min-height: 1.5rem;
            min-width: 1.5rem;
            max-width: 1.5rem;
            max-height: 1.5rem;
            background-color: $main-color;
            margin: 0.3rem auto;
            border-radius: 50%;
            transition: all 0.1s ease-in-out;
            cursor: pointer;

            &:hover {
                min-height: 1.8rem;
                min-width: 1.8rem;
                max-width: 1.8rem;
                max-height: 1.8rem;
            }
        }
    }
}

.step-content {
    margin-top: 5rem;
    width: 100%;
    box-shadow: $default-shadow;
    border-radius: 1rem;
    padding: 3rem;

    .step-title {
        text-align: center;
        margin-bottom: 5rem;
    }
}