.choose-path {
    background-color: #fff;
    box-shadow: $default-shadow;
    height: 45rem;
    padding: 5rem;
    border-radius: 1rem;

    .title {
        color: $main-color;
        font-size: 2.2rem;
        margin-bottom: 3rem;
    }

    .options-container {
        display: flex;
        justify-content: center;
        column-gap: 3rem;
        width: 100%;

        .path-option {
            position: relative;
            padding: 1rem;
            width: 20rem;
            height: 20rem;
            border: 2.5px solid #ccc;
            border-radius: 1rem;
            transition: border-color 0.5s ease; 
            cursor: pointer;

            &.checked {
                border: 2.5px solid $main-color;

                & > .path-name {
                    color: $main-color;
                }
            }

            &:hover {
                border: 2.5px solid $main-color;

                & > .path-name {
                    color: $main-color;
                }
            }

            .path-name {
                position: absolute;
                bottom: 15px;
                height: 15rem;
                width: 100%;
                right: 0;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 2rem;
                color: #999;
                transition: color 0.5s ease;
            }
        }  
    }
    
    .button-block {
        margin-top: 5rem;
        width: 100%;

        button {
            margin: auto;
        }
    }
}

.top-bar {
    display: flex;
    justify-content: space-between;
    color: #4d4d4d;
    font-size: 1.5rem;

    .choose-path {
        box-shadow: none;
    }

    .data-paths {
        .edit-paths-link {
            cursor: pointer;
            font-size: 1.35rem;
            color: $main-color;
            transition: opacity 0.3s ease;
            margin-right: 0.5rem;
    
            &:hover {
                opacity: 0.6;
            }
        }

        .choose-path {
            box-shadow: none;
            padding: 0;

            .choose-path-error {
                color: $error-color;
                font-size: $text-size;
                margin-bottom: 1rem;
            }
            
            i {
                margin: 0;
            }
        }
    }
}

.navigate-data-sections {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    background-color: transparent !important;
    box-shadow: none !important;
    position: fixed;
    justify-content: center;
    text-align: center;
    right: 3%;
    top: 20%;
    font-size: 1.6rem;
    color: $main-color;
    z-index: 2;
  
    .nav-section-item {
        cursor: pointer;

        
        &:hover  {
            & > .path-uni-list {
                max-height: 30rem;
            }
        }


        .section-item {
            &::after {
                content: "";
                display: block;
                padding: 0.1rem;
                width: 1.5rem;
                height: 1.5rem;
                border: 1px solid transparent;
                background-color: $main-color;
                border-radius: 50%;
                margin: auto;
                transition: all 0.3s ease;
            }

            &:hover:not(.main) {
                &::after {
                    background-color: transparent;
                    border: 1px solid $main-color;
                }
            }

            &.main {
                margin-bottom: 1rem;
                font-size: 1.8rem;
            }
        }

        .path-uni-list {
            display: block;
            max-height: 0;
            overflow: hidden;
            transition: max-height 0.3s ease-out;
        }
        
        &.multi-path {
            &:hover {
                & > .section-item::after {
                    width: 4rem;
                    height: 1rem;
                    background-color: #bbb;
                    border-radius: 0;
                }
            }
        }
    }

    @media only screen and (max-width: 1200px) {
        display: none

    }
}

.data-block {
    animation: opacity-load 0.5s ease;

    @keyframes opacity-load {
        0% { opacity: 0; }
        100% { opacity: 1; }
    }

    .block-header {
        padding: 2rem;
        box-shadow: 0 3px 6px #00000030;
        font-size: 2.5rem;
        color: $main-color;
    }

    .data-block-content {
        padding: 2rem;
        &:not(.group) {
            display: flex;
            column-gap: 3rem;
            row-gap: 2rem;
            flex-wrap: wrap;
        }
    }
}

.form-fragment {
    position: relative;
    display: flex;
    column-gap: 1rem;

    .calc-block {
        width: 13rem;
        border: 1px solid #0a5fce;
        border-radius: 1rem;
        background-color: #0a5fce31;
        padding: 0 1rem;
        color: #4d4d4d;
        font-size: $text-size;

        legend {
            color: #0a5fce;
            font-size: 1.2rem;
            margin: 0 0.5rem;
        }

        &.missing {
            cursor: pointer;
            border: 1px solid #c26d0c;
            background-color: #c26d0c31;
            transition: opacity 0.25s ease;

            &:hover {
                opacity: 0.8;
            }

            legend {
                color: #c26d0c;
            }
        }
    }
}


.args-missing-block {
    display: flex;
    position: relative;
    
    .material-icons {
        color: #c26d0c;
        transition: opacity 0.3s ease;

        &:hover {
            opacity: 0.8;
        }
    }

    .args-missing-list { 
        position: absolute;
        right: 30px;
        visibility: hidden;
        opacity: 0;
        z-index: 1;
        background-color: #fff;
        box-shadow: $default-shadow;
        width: 10rem;
        font-size: 1.6rem;
        padding: 1rem;
        color: #4d4d4d;
        transition: opacity 0.3s ease;

        &.display {
            opacity: 1;
            visibility: visible;
        }
    }
}


.groups-list {
    margin: auto;

    & > .group-item:not(:last-child) {
        border-bottom: 0.5px solid #ddd;
    }

    .group-item {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        // padding: 2rem 0;

        align-items: center;

        .group-name {
            color: #4d4d4d;
        }

        .dropdown {
            margin: 0;
            display: inline-block;
        }

        & > div {
            display: inline;
            justify-self: center;

            &:first-child {
                justify-self: start;
            }

            &:last-child {
                justify-self: end;
            }
        }
    }
}

