.other-calcs__content__item {
    padding: 2rem;
}

.reverse-calcs__content__no-thresholds {
    font-size: 2.2rem;
    font-weight: 500;
    color: #aaa;
}

.no-calc-available {
    color: #aaa;
    font-size: 2.2rem;
    font-weight: 500;
}

@import "../LastYearCalc/index";
@import "../RerverseCalcsList/index";
