.reverse-calcs-list {
    display: flex;

    &__item {
        margin-left: 5rem;
        font-weight: 500;

        &__name {
            color: #fff;
            background-color: $main-color;
            padding: 0.3rem 1rem;
            border-radius: 0.5rem;
            font-size: 1.5rem;
            text-align: center;
        }

        &__result {
            color: $main-color;
            padding: 0.3rem;
            margin-right: 0.5rem;
            text-align: center;
            font-size: 1.7rem;
            border-bottom: 3px #aaa solid;
        }
    }
}
