.scroll-wrapper {
    overflow-x: auto;
    padding-bottom: 1rem;
    display: flex;
    justify-content: center;
}

.calc-thresh-axis {
    display: flex;
    align-items: flex-end;
    direction: ltr;
    align-self: center;
    width: 100%;

    .axis-month-section {
        height: 200px;
        display: flex;
        flex-direction: column;
        row-gap: 1rem;
        align-items: center;
        justify-content: flex-end;

        .axis-month-name {
            font-size: 1.8rem;
            font-weight: 500;
        }

        .axis-groups-container {
            width: 100%;
            border-bottom: 10px solid;
            position: relative;
        }

        .thresh-group {
            position: absolute;
            bottom: 5px;
            display: flex;
            flex-direction: column;
            align-items: center;
            row-gap: 0.5rem;

            .indicator {
                cursor: default;
                font-size: 3rem;
            }

            &:hover > .indicator {
                animation: tiltVertical 2s infinite;
                animation-timing-function: ease;
            }
        }

        .thresh-group-sum {
            cursor: pointer;

            .thresh-top {
                padding-bottom: 0.5rem;
                border-bottom: 1px solid;
            }
        }

        .group-thresh-details {
            cursor: default;
            position: fixed;
            top: 0;
            right: 0;
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            transform-origin: bottom left;
            z-index: 4;
            visibility: hidden;
            opacity: 0;
            background-color: rgba(#000, 0.6);

            &.display {
                visibility: visible;
                transition: all 0.2s ease-in-out;
                opacity: 1;

                & > .wrapper {
                    transform: scale(1);
                }
            }

            .wrapper {
                background-color: #fff;
                border-radius: 0.5rem;
                padding: 2rem;
                transform: scale(0);
                max-width: 50rem;
                white-space: nowrap;
            }

            .thresh-container {
                display: flex;
                justify-content: center;
                align-items: center;
                column-gap: 1rem;
                overflow-x: auto;
                padding: 1rem;
            }
        }

        .thresh-item {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            row-gap: 0.5rem;
            width: 100%;

            &.final {
                font-size: 1.8rem;
                font-weight: 500;
            }

            .thresh-date {
                padding: 0.2rem 0.5rem;
                border-radius: 0.5rem;
                font-size: 1.5rem;
                font-weight: 400;
                background-color: rgba(#000, 0.5);
                color: #fff;
            }
        }
    }
}

.month-days-list {
    display: flex;

    .days-gap {
        display: flex;
        align-items: center;
        justify-content: center;
        border-bottom: 3px solid;
        font-size: 1.4rem;
        margin: 0 1rem;
        font-weight: 500;
    }
}
